<app-nav-bar></app-nav-bar>
<div style="height: 100px; width: 200px;"></div>
<app-like></app-like>
<app-slider></app-slider>
<br>
<div class="duo-container" id="intro">
  <div class="duo-item">
    <img src="../assets/maicesMano.jpg" data-aos="fade-right" />
  </div>
  <div class="duo-item text" data-aos="fade-left">
    <p>
      El maíz ha sido un elemento esencial en la cultura y la vida de las civilizaciones mesoamericanas desde tiempos
      precolombinos. Para las antiguas culturas de México y Centroamérica, el maíz no solo era un alimento básico, sino
      que también tenía un significado místico y espiritual. El maíz era considerado una divinidad y una fuente de vida
      y energía, y se le atribuían poderes mágicos y curativos.
    </p>
  </div>
</div>
<br>
<img src="../assets/wave-azul.svg" />
<div class="duo-container" style="background-color: #90A4AE;">
  <div class="duo-item text" data-aos="fade-left">
    <p>
      El misticismo del maíz está profundamente arraigado en la cultura de los pueblos indígenas de México y
      Centroamérica. El maíz es considerado un regalo de los dioses, y se cree que su origen se remonta a la creación
      del mundo. Según la mitología azteca, los dioses sacrificaron a uno de sus hermanos para crear el maíz, y luego
      dieron el grano a la humanidad para que lo cultivara y lo venerara. Desde entonces, el maíz ha sido una parte
      integral de la cultura y la vida de los pueblos indígenas de la región.
    </p>
  </div>
  <div class="duo-item">
    <img src="../assets/maya.jpg" data-aos="fade-right" />
  </div>
</div>
<img src="../assets/wave-down-azul.svg" />
<br>
<!--PRIMERA LEYENDA-->
<div class="leyenda-container" data-aos="fade-down" id="primeraLeyenda">
  <h2 class="text-white">Antigua adivinación por medio del maíz</h2>
  <img src="../assets/adivinacion2.jpg" />
  <div class="duo-container">
    <div class="duo-item text" data-aos="fade-left">
      <p>
        El arte de "leer el maíz" aparece en ciertos códices prehispánicos, lo que prueba su importancia en la cultura
        Mesoamericana, como el caso de Códice Tudela, donde es manifiesto que el adivinador echaba el maíz en en una
        tablilla, o el Magliabechi, donde se apunta que 20 granos de este se arrojaban en una concha.
        En el Tudela se señala:
        Unos granos de maíz y frijoles, y que si los primeros al caer en medio un vacuo [vacío] a manera de campo, de
        tal modo que estuvieran alrededor, era señal que le iban a enterrar [al enfermo], si los granos de maíz se
        apartaban la mitad a una parte y la mitad a otra, para que pudiese hacerse una raya derecha de por medio, sin
        tocar a ningún grano, era señal que la enfermedad se había apartado del enfermo y sanar.
      </p>
    </div>
    <div class="duo-item text" data-aos="fade-right">
      <p>
        Por su parte el misionero franciscano, Toribio de Benavente, conocido como Motolinía, quien también ofició como
        historiador, hace referencia al arte adivinatorio por medio del maíz: “Echaban un puñado de maíz de lo más
        grueso que podía haber, e lanzábanlo siete u ocho veces como lanzaban los dados, y si algún grano quedaba
        enhiesto, decían que era señal de muerte”. Asimismo: “Si a alguno se [le] perdía [cosa] o animal o ave, hacían
        ciertas hechicerías con unos maíces, y miraban en un lebrillo de agua, y dizque allí veían lo que él lo tenía, y
        la casa a do estaba, y si era cosa viva, allí les hacía entender si era muerta o viva”
      </p>
    </div>
  </div>
</div>
<br>
<img src="../assets/wave-violeta-up.svg" />
<!--SEGUNDA LEYENDA-->
<div class="leyenda-container" style="background-color: #6200EA;" id="segundaLeyenda">
  <h2 class="text-white" data-aos="fade-down">Dios del maíz</h2>
  <img src="../assets/dios.jpg" data-aos="fade-down" />
  <div class="duo-container">
    <div class="duo-item text" data-aos="fade-left">
      <p>
        Un documento de la Colonia temprana, publicado con el nombre Histoire du Mechique, recoge un mito de los pueblos
        nahuas que señala como origen del maíz el cuerpo mismo de un dios. Relata el mito que dos
        dioses, él llamado Piltzintecuhtli, ella Xochipilli, tuvieron por hijo a Cintéotl. El dios hijo —protoser
        vegetativo— se hundió en la tierra para
        producir diferentes vegetales útiles al hombre. Así, de sus cabellos salió
      </p>
    </div>
    <div class="duo-item text" data-aos="fade-right">
      <p>
        el algodón; de una oreja, la planta llamada huauhtzontli; de la nariz, la
        chía; de los dedos, los camotes y del resto del cuerpo, otros muchos frutos. El más importante de todos, el
        maíz, brotó de las uñas del dios. A
        su creación más destacada debe el dios su nombre principal, Cintéotl
        (“el dios mazorca”), al que agregó el de Tlazopilli (“el señor amado”),
        debido al enorme valor de su herencia.
      </p>
    </div>
  </div>
</div>
<img src="../assets/wave-violeta-down.svg" />
<!--TERCERA LEYENDA-->
<div class="leyenda-container" data-aos="fade-down" id="terceraLeyenda">
  <h2 class="text-white">Los hombres de maíz</h2>
  <img src="../assets/hombreDeMaiz.jpg" width="500px" />
  <div class="duo-container">
    <div class="duo-item text" data-aos="fade-left">
      <p>
        Mucho tiempo antes, cuando el mundo apenas iniciaba solo existía el cielo y el mar, no había animales, ni tierra
        y mucho menos seres humanos.

        Al ver lo solitario que se encontraba todo, tres dioses: Kukulcán, Tepeau y Caculhá Huracán, crearon la tierra,
        las montañas, los árboles y los primeros animales, las aves y venados que habitaban en los valles, sin embargo,
        los dioses querían crear un ser perfecto que hablara, tuviera conocimientos y los venerara, fue así como surgió
        la idea de formar al hombre.
        Los dioses tomaron lodo y con él formaron al primer hombre, con sus poderosas manos moldearon su cabeza dándole
        las más hermosas facciones, hicieron sus brazos y piernas fuertes con el fin de que les sirvieran para trabajar
        la tierra y aunque al principio se sintieron felices con el resultado, el hombre de lodo no podía realizar las
        actividades más básicas, no le era posible hablar, ni caminar, cualquier movimiento por más leve que fuera los
        deshacía convirtiéndolos de nuevo en lodo.
        Ante este primer fracaso los tres dioses no se rindieron y se unieron con otros cinco y comenzaron la creación
      </p>
    </div>
    <div class="duo-item text" data-aos="fade-right">
      <p>
        de un nuevo hombre, esta vez hecho de madera, estos hombres podían hablar, caminar y comenzaron a tener hijos,
        sin embargo,
        no tenían sentimientos, eran personas sin alma, sus movimientos eran torpes, rígidos, no tenían
        ninguna emoción. Ante esta situación los dioses enviaron un gran diluvio a la tierra para acabar con la vida de
        los hombres de madera.
        Paso mucho tiempo sin que los dioses intentaran crear un nuevo hombre, después de meditar largamente cuál era el
        mejor material para que el hombre pudiera finalmente pensar y sentir decidieron tomar mazorcas de maíz y con
        ellas crearon una masa blanca de la cual formaron cuatro hombres Balam Quitza, Balam Acab, Ma Hucutah e Iqui
        Balam, los nuevos hombres eran inteligentes y podían correr, pensar y amar, el maíz con el que fueron creados se
        impregnó en su esencia, se volvió su sangre y formó su corazón.

        Al ver a su nueva creación todos los dioses quedaron satisfechos de su trabajo, los hombres de maíz comenzaron a
        poblar la tierra, les enseñaron a sus hijos a respetar la naturaleza, a sembrar la tierra y nunca olvidarse de
        venerar a los dioses que los habían creado.
      </p>
    </div>
  </div>
</div>
<br>
<img src="../assets/wave-naranja-up.svg" />
<!--CUARTA LEYENDA-->
<div class="leyenda-container" style="background-color: #E65100;" id="cuartaLeyenda">
  <h2 class="text-white" data-aos="fade-down">Robo del maíz del TONACATÉPETL</h2>
  <img src="../assets/robo2.jpg" data-aos="fade-down" />
  <div class="duo-container">
    <div class="duo-item text" data-aos="fade-left">
      <p>
        Luego dijeron: “han nacido los vasallos de los dioses”. Por cuanto hicieron penitencia sobre nosotros. Otra vez
        dijeron: “¿Qué comerán, oh dioses? Ya todos buscan el alimento”. Luego fue la hormiga a coger el maíz desgranado
        dentro del Tonacatépetl (cerro de las mieses). Encontró Quetzalcóhuatl a la hormiga y le dijo: “Dime adónde
        fuiste a cogerlo”. Muchas veces le pregunta; pero no quiere decirlo. Luego le dice que allá (señalando el
        lugar); y la acompañó. Quetzalcóhuatl se volvió hormiga negra, la acompañó, y entraron y lo acarrearon ambos:
        esto es, Quetzalcóhuatl acompañó a la hormiga colorada hasta el depósito, arregló el maíz y en seguida lo llevó
        a Tamoanchan. Lo mascaron los dioses y lo pusieron en nuestra boca para robustecernos.
      </p>
    </div>
    <div class="duo-item text" data-aos="fade-right">
      <p>
        Después dijeron: “Qué haremos del Tonacatépetl?”. Fue solo Quetzalcóhuatl, lo ató con cordeles y lo quiso llevar
        a cuestas, pero no lo alzó. A continuación Oxomoco echó suertes con maíz; también agoró Cipactónal, la mujer de
        Oxomoco. Porque Cipactónal es mujer. Luego dijeron Oxomoco y Cipactónal que solamente Nanáhuatl (el buboso)
        desgranaría a palos el Tonacatépetl, porque lo habían adivinado. Se apercibió a los tlaloque (dioses de la
        lluvia), los tlaloque azules, los tlaloque blancos, los tlaloque amarillos y los tlaloque rojos; y Nanáhuatl
        desgranó el maíz a palos. Luego es arrebatado por los tlaloque el alimento: el blanco, el negro, el amarillo, el
        maíz colorado, el frijol, los bledos, la chía, el michihuauhtli (especie de bledos); todo el alimento fue
        arrebatado (Leyenda de los Soles, 1995).
      </p>
    </div>
  </div>
</div>
<img src="../assets/wave-naranja-down.svg" />
