<div class="slider-wrapper">
  <div
    id="carouselExampleInterval"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
    data-bs-touch="true"
    style="max-width: 100%; max-height: 600px; "
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="3"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner" style="max-width: 1200px; max-height: 600px">
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          src="../../assets/Adivinacion.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="../../assets/diosDelMaiz.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="../../assets/HombresDeMaiz.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="../../assets/robo.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- <div style="max-width: 1300px">
  <div class="abs-center">
    <div
      id="carouselExampleIndicators"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          class="carousel-item active"
          data-bs-interval="3000"
          [style.paddingTop]="'45%'"
          [style.background]="
            'url(../../../assets/imagenes/QueEsMexposeBanner.jpg)'
          "
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'"
          (click)="xxx()"
        ></div>
        <div
          class="carousel-item"
          data-bs-interval="3000"
          [style.paddingTop]="'45%'"
          [style.background]="
            'url(../../../assets/imagenes/SuscripcionesBanner.jpg)'
          "
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'"
        ></div>
        <div
          class="carousel-item"
          data-bs-interval="3000"
          [style.paddingTop]="'45%'"
          [style.background]="
            'url(../../../assets/imagenes/XposecardBanner.jpg)'
          "
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'"
        ></div>
        <div
          class="carousel-item"
          data-bs-interval="3000"
          [style.paddingTop]="'45%'"
          [style.background]="'url(../../../assets/imagenes/XwallBanner.jpg)'"
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'"
        ></div>
        <div
          class="carousel-item"
          data-bs-interval="3000"
          [style.paddingTop]="'45%'"
          [style.background]="
            'url(../../../assets/imagenes/PreguntasBanner.jpg)'
          "
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'"
        ></div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
-->
<!--

<div
          class="carousel-item"
          data-bs-interval="3000"
          [style.paddingTop]="'26.25%'"
          [style.background]="'url(' + item.url + ')'"
          [style.backgroundSize]="'cover'"
          [style.backgroundRepeat]="'no-repeat'"
          [class.active]="isFirst"
          [class.lastActive]="isLast"
          [class.even]="IsEven"
          [class.odd]="isOdd"
          *ngFor="
            let item of banners;
            first as isFirst;
            last as isLast;
            even as IsEven;
            odd as isOdd
          "
        ></div>


-->

